.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    background-size: contain;
    border-radius: 100%;
    user-select: none;
    cursor: 'pointer';
    transform: translate(-50%, -50%);
    /* &:hover {
      z-index: 1;
    } */

  }
  .marker:hover .tooltiptext{
    content: "hovering";
    visibility: visible;
    opacity: 1;
  }

  .marker .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  .bikeMarker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    scale: 0.05;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    user-select: none;
    transform: scale(1.5);
    zoom: reset; 
    cursor: 'pointer';
    transform: translate(-50%, -50%);
    /* &:hover {
      z-index: 1;
    } */

  }

  
